.outer {
    border: 1px solid black;
    border-radius: 10px;
    width: 450px;
    height: 620px;
    padding-left: 20px;
    padding-right: 30px;
    margin-top: 15px;
}

.bottom-button {
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 160px;
}

.req {
    color: red;
}

.title {
    width: 256px;
    margin-left: 167.5px;
    margin-bottom: 15px;
    border: 1px solid black;
}

.card-input {
    margin-bottom: 15px;
    margin-left: 85px;
}

.align-right {
    text-align: right;
    margin-bottom: 15px;
    
}