.main {
    border: 1px solid black;
    width: 100%;
    height: 250px;
    background-color: #CCCCFF;
}
.img {
    float: left;
    height: 100px;
    width: 30%;
    background-color: rgb(232, 232, 141);
    border: 1px solid black;
    margin: 10px 25px;
}